.layout-cabecalho{
  height: 60px;
  line-height: 60px;        /*Deu o espaçamento do Menu*/
  border-bottom: 1px solid #ccc;  

  background-color: #fff;
}

.layout-cabecalho--home{
  position: fixed;        /*Faz com o elemento fique fixo na tela de acordo com as posicoes definidas abaixo*/
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;          /*Ordem de posicao para um elemento ficar sobre o outro. Valor 1 ja resolveria neste caso mas usamos 
                            um valor bem alto pois caso tenha alteraçao no futuro, o cabecalho continue fixo*/
}

.layout-cabecalho img{
  margin-top: 12px;
}

.layout-planos{
  padding: 80px 0;        /*Superior e inferior 20px, esquerda e direita 0px*/
}

@media(max-width: 768px){ /* Adiciona o estilo somente nas div que não tiverem a classe "ultima-coluna" */
  .layout-planos .row > div:not(.ultima-coluna) {
    margin-bottom: 40px;
  }
}

.layout-chamada {
  padding: 80px 0;
  margin-top: 60px;       

  background-color: #7ab55c;
}

.layout-depoimento{
  padding: 80px 0;

  background-color: #e7e7e7;
}

.layout-rodape{
  padding: 40px 0;  

  background-color: #484848;

  color: white;
  text-align: center;
}

.layout-assinatura {
  padding: 40px 0;
}